body{
    margin: 0;
    background-image: url("/images/back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#optimise{
    background-color: rgba(0, 0, 0, 0.301)
}
#container{
    width: 100%;
    height: 81%;
    padding: 30px;
    margin-top: 55px;
    margin-bottom: 0px;
    overflow-y: scroll;
    overflow-x : hidden;
}

#header{
    width: 100%;
    height: 80  px;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    background-color:   rgba(26, 23, 23, 0.795);
    color: white;
    position: fixed;
    overflow: hidden;
    top:0;
}

h3{
    margin: 15px;
}

.table{
    background-color: rgba(250, 246, 246, 0.452);
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    padding: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px;
    border-radius: 30px;
}

table.tcontent,tr.row th{
    border: 1px solid rgb(243, 241, 241);
    border-collapse: collapse;
    border-spacing: 0px;
}

table.tcontent{
    border-radius: 20px;
    table-layout: fixed
}

tr.row{
    width: 50px;
    height: 30px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

tr.row th{
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: rgba(84, 183, 240, 0.452);
    font-size: 20px;
}

tr.row td{
    padding-left: 40px;
    padding-right: 40px;
}

tr.row:nth-child(odd) {
    background-color: rgba(247, 246, 241, 0.432);
}

#file-view{
    visibility: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.644);
    top: 0;
    width: 100%;
    height: 100%;
}

#close{
    position: fixed;
    top: 10px;
    left: 95%;
    height: 40px;
    width: 40px;
}

#close:hover{
    background-color: rgba(233, 222, 222, 0.178);
    border-radius: 100px;
}

#file{
    width: 60%;
    height: 80%;
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

#left{
    margin-top: 100px;  
    margin-left: 5%;
    width: 10%;
    visibility: hidden;
    display: inline-block;
    margin-right: 5%;
}

#right{
    margin-top: 100px;
    visibility: hidden;
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
    display: inline-block;
}

#file-image{
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
    display: inline-block;
}

.nav{
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 200px;
}

.nav:hover{
    /*background-color: rgba(12, 11, 11, 0.753);*/
    background-color: rgba(233, 222, 222, 0.082);

    border-radius: 50%
}

.container{
    width: 100%;
    height: 100%;
}