html
    head
        title Megapixel
        link(href="/files/page.css" rel="stylesheet" type="text/css")
    body
        -var address="";
        table(class="tcontent")
            tr 
                td name
                td Size
                td Download Link
            -files.forEach((val,num)=>{
                tr
                    -if(val.type=="folder")
                        td 
                            a(href="/megapixel"+str+"/"+val.name) #{val.name}
                        td
                            div #{val.fsize}
                        td 
                            a(href="/download"+str+"/"+val.name) Download
                    -else if(val.type=="image")
                        img(src="/download"+str height="50%" width="40%")
                    -else
                        video(height="50%" width="40%" controls)
                            source(src="/download"+str)
            -})
