html
    head
        title Megapixel
    body
        -var address="";
        -if(Array.isArray(add))
            -add.forEach((val,num)=>{address+="add="+val+"&"})
        -else
            -address+="add="+add+"&";

        -files.forEach((val,num)=>{
            div
                -if(val.type=="folder")
                    a(href="/megapixel/?"+address+"add="+val.path) #{val.path}
                -else if(val.type=="image")
                    img(src=val.path height="50%" width="40%")
                -else
                    video(height="50%" width="40%" controls)
                        source(src=val.path)
        -})
